*{
    margin: 0;
    padding: 0;
}
.penis {
    position: absolute;
    z-index: 999;
    width: 24px;
    height: 33px;
    left: calc(50% + 6px);
    bottom: 0;
    background: url("penis.png") no-repeat no-repeat;
    background-size: contain;
    /*transform: rotate();*/
}

#hWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 330px;
    background: #bebebe;
    padding: 15px;
    border-radius: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

audio {
    width: 100px;
}

audio::-webkit-media-controls-mute-button {
    display: none;
}

audio::-webkit-media-controls-current-time-display {
    display: none;
}
audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

audio::-webkit-media-controls-timeline {
    display: none;
}

audio::-webkit-media-controls-volume-slider {
    display: none;
}

audio::-webkit-media-controls-timeline-container {
    display: none;
}
audio::-webkit-media-controls-current-time-display {
    display: none;
}
audio::-webkit-media-controls-volume-slider-container {
    display: none;
}
audio::-webkit-media-controls-seek-back-button {
    display: none;
}
audio::-webkit-media-controls-seek-forward-button{
    display: none;
}
audio::-webkit-media-controls-fullscreen-button{
    display: none;
}
audio::-webkit-media-controls-rewind-button{
    display: none;
}
audio::-webkit-media-controls-return-to-realtime-button{
    display: none;
}
audio::-webkit-media-controls-toggle-closed-captions-button{
    display: none;
}